body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #0F172A;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
